USE [master]
GO
/****** Object:  Database [KhuatVanHoangHiep_2410900034_examDb]    Script Date: 26/09/2026 9:20:11 AM ******/
CREATE DATABASE [KhuatVanHoangHiep_2410900034_examDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KhuatVanHoangHiep_2410900034_examDb', FILENAME = N'D:\SOLQL\MSSQL16.SQLEXPRESS\MSSQL\DATA\KhuatVanHoangHiep_2410900034_examDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KhuatVanHoangHiep_2410900034_examDb_log', FILENAME = N'D:\SOLQL\MSSQL16.SQLEXPRESS\MSSQL\DATA\KhuatVanHoangHiep_2410900034_examDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KhuatVanHoangHiep_2410900034_examDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KhuatVanHoangHiep_2410900034_examDb]
GO
/****** Object:  Table [dbo].[kvhhStudent]    Script Date: 26/09/2026 9:20:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kvhhStudent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[kvhhName] [nvarchar](100) NOT NULL,
	[kvhhGender] [bit] NOT NULL,
	[kvhhBirthDay] [date] NOT NULL,
	[kvhhEmail] [varchar](150) NULL,
	[kvhhPhone] [varchar](20) NULL,
	[kvhhActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[kvhhStudent] ADD  DEFAULT ((1)) FOR [kvhhActive]
GO
USE [master]
GO
